[report]
omit =
    */authors/apps/__init__.py
    */authors/apps/core/__init__.py
    */authors/apps/core/exceptions.py
    */authors/apps/authentication/__init__.py
    */authors/apps/authentication/migrations/*.py
    */authors/apps/authentication/test/*.py
    */authors/apps/base_test.py
    */python?.?/*
    */site-packages/*
    */tests/*
    */authors/apps/articles/__init__.py
    */authors/apps/articles/migrations/*.py
    */authors/apps/articles/test/*.py
    */authors/apps/core/email_with_celery.py
    */authors/apps/core/models.py
    */authors/apps/profiles/__init__.py
    */authors/apps/profiles/test/*.py
    */authors/apps/profiles/migrations/*.py
    */authors/apps/profiles/admin.py
    */authors/apps/profiles/apps.py
    */authors/apps/profiles/exceptions.py
