[report]
omit =
    */authors/apps/__init__.py
    */authors/apps/authentication/__init__.py
    */authors/apps/core/__init__.py
    */authors/apps/core/exceptions.py
    */authors/apps/authentication/migrations/*.py
    */authors/apps/profiles/__init__.py
    */authors/apps/profiles/tests/__init__.py
    */authors/apps/authentication/test/__init__.py
    */authors/apps/authentication/test/base.py
    */authors/apps/authentication/test/test_auth.py
    */authors/apps/authentication/test/test_social_login.py
    */authors/apps/authentication/test/test_models.py
    */authors/apps/authentication/test/test_register_validation.py
    */authors/apps/base_test.py
    */authors/apps/profiles/tests/test_profiles.py
    */python?.?/*
    */site-packages/*
    */tests/*
    */authors/apps/articles/__init__.py
    */authors/apps/articles/migrations/0001_initial.py
    */authors/apps/articles/migrations/0002_article_taglist.py
    */authors/apps/articles/migrations/0003_auto_20180913_1217.py
    */authors/apps/articles/migrations/__init__.py
    */authors/apps/articles/test/__init__.py
    */authors/apps/articles/test/test_articles.py
    */authors/apps/articles/test/test_like_dislike_articles.py
    */authors/apps/core/email_with_celery.py
    */authors/apps/core/models.py
    */authors/apps/profiles/test/__init__.py
    */authors/apps/profiles/test/test_profiles.py
    */authors/apps/authentication/test/test_email_auth.py
    authors/apps/profiles/migrations/*.py




