export DATABASE_URL=postgres_database_url
export SECRET_KEY=mysecretkey
export EMAIL_HOST_USER=email_host_user
export EMAIL_HOST_PASSWORD=email_host_password
export EMAIL_PORT=email_port
export DATABASE_URL=<postgres://{user}:{password}@{hostname}:{port}/{database-name}>
export SECRET_KEY=<mysecretkey>

export GOOGLE_KEY=<Client ID>
export GOOGLE_SECRET=<Client secret>
export FACEBOOK_KEY=<APP ID>
export FACEBOOK_SECRET=<App Secret>
export GITHUB_KEY=<Client ID>
export GITHUB_SECRET=<Client Secret>
